<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
     ">
    <!-- 配置事务管理器 -->
    <import resource="applicationContext.xml"></import>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


   <tx:advice id="txAdvice" transaction-manager="transactionManager">
       <tx:attributes >
           <tx:method name="transfer*"/>
       </tx:attributes>
   </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(void *..*.*.transfer(..))"></aop:advisor>
    </aop:config>



    <bean id="MyAdvice" class="cq.serviceUtil.TestUtil"></bean>
    <aop:config>
        <aop:aspect ref="MyAdvice">
            <aop:before method="log" pointcut-ref="pointcut"></aop:before>
            <aop:pointcut id="pointcut" expression="execution(* *..*.*.transfer(..))"></aop:pointcut>
        </aop:aspect>
    </aop:config>

</beans>