<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
     ">
    <!-- 配置事务管理器 -->
    <context:component-scan base-package="cq.*"></context:component-scan>
    <context:annotation-config/>

    <import resource="classpath*:spring-mapper.xml"></import>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


   <tx:advice id="txAdvice" transaction-manager="transactionManager">
       <tx:attributes >
           <tx:method name="transfer*"/>
    <!-- 传播行为 -->
    <tx:method name="save*" propagation="REQUIRED" />
    <tx:method name="add*" propagation="REQUIRED" />
    <tx:method name="insert*" propagation="REQUIRED" />
    <tx:method name="delete*" propagation="REQUIRED" />
    <tx:method name="del*" propagation="REQUIRED" />
    <tx:method name="remove*" propagation="REQUIRED" />
    <tx:method name="update*" propagation="REQUIRED" />
    <tx:method name="modify*" propagation="REQUIRED" />
    <tx:method name="find*" read-only="true" />
    <tx:method name="query*" read-only="true" />
    <tx:method name="select*" read-only="true" />
    <tx:method name="get*" read-only="true" />
       </tx:attributes>
   </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* cq.service.*Impl.*(..))"></aop:advisor>
    </aop:config>



    <!--<bean id="MyAdvice" class="cq.serviceUtil.TestUtil"></bean>-->
    <!--<aop:config>-->
        <!--<aop:aspect ref="MyAdvice">-->
            <!--<aop:before method="log" pointcut-ref="pointcut"></aop:before>-->
            <!--<aop:pointcut id="pointcut" expression="execution(* *..*.*.transfer(..))"></aop:pointcut>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>